*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  
  header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
  
  .w50{
    width:100%;
    padding:0 10px;
    text-align: center;
  }
  
  .menu{text-align: center;}
  
  section.projects{
    width:100%;
    min-height: 500px;
    text-align:center;
    padding:  50px 50px 10pc;
    color:black;
    }
  
  .project{
    margin-top: 20px;
    width:100%;
    text-align: center;
    color:black;
  }
  
  footer{
    position: absolute;
    bottom:0;
    width:100%;
    text-align: center;
    color: rgb(50, 3, 71);
    background-color:black;
  }
    
    @media screen and (max-width: 768px){
      header{
          text-align: center;
      }
      .menu{
          text-align: center;
      }
      .w33,.w50{
          width:100%;
          margin-bottom: 20px;
      }

      button {
        text-align: center;
      }

    }
    
    @media screen and (min-width: 1600px) and (min-height: 900px) {
      /* Add your styles here */
      footer {
        width:100%;
        margin-bottom: -150px;  }
        }
    