*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

header{
  font-size: large;
  padding: 10px;
  background-color: black;
  flex-wrap: wrap;
}

.tittle{
  width:100%;
  padding:0;
  text-align: center;
}

.menu{
  text-align: center;
}

section.banner{
  max-width: 100%;
  bottom: 0;
  text-align: center;
  color:black;
  left: 50%;
  top: 50%;
}

.sis{
  max-width: 100%;
  position: absolute;
  transform:translate(-50%, -50%);
  border: 0;  
  left: 50%;
  top: 55%;
}

button{
    width: 80px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 56%;
    transform:translate(-50%, -50%);
    border: 0;   
    color: black;
}



footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  color:#551a8b;
  background-color:black;

}