
            
            
            #estoque {
              font-family: Arial, sans-serif;
              max-width: 800px;
              margin: 10px auto;
              text-align: center;
              padding-top: 20px;
              display:block;

            }

            a {
              font-family: Arial, sans-serif;
              max-width: auto;
              text-align: center;
              display:block;
              margin: 10px auto;
              margin-top: 25px;
              padding: 20px 10px;
              background-color: #e7640c;
              color: rgb(0, 0, 0);
              border: 3px solid black;
              text-decoration: none;
              font-size:xx-large;
              border-radius: 10px;

            }


            #sessoes {
              overflow: auto;
              height: auto;
            }

            .botao{
              max-width: 800px;
            }

            .produtos{
              height: 50px;
              border-radius:10px;
              background-color:#aaebfa;
              border: 1px solid black;
              font-size:medium;
            }

            .produto {
              border-radius:10px;
              margin: 20px;
              border: 1px solid black;
              padding: 0px;
              text-align: center;
            }
            p{
              font-size: large;
            }
            h1{
              border-radius:10px;
              border: 2px solid black;
              margin: 10;
              padding: 10px;
              background-color: #47BDD7;
            }
            
            h2 {
              border-radius:10px;
              cursor:pointer;
              border: 2px solid black;
              margin: 10;
              padding: 10px;
              background-color: #d8f2f8;
            }

            
            h1{
              border: 3px solid rgb(0, 0, 0);
              margin: 2px;
                        }

           @media screen and (max-width:768px) {
            .botao{
              margin-top: -3px;
              height: 30px;
              font-size: x-large;
              text-align: center;
            }
            h1{
              padding-top: 15px;
              height: 35px;
              font-size: x-large;
              margin: auto ;
              padding: auto;
            }

            p{
              font-size: medium;
            }


          }



          
                
                    

                 
                              
              