*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


header{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.w50{
  width:100%;
  padding:0 10px;
  text-align: center;
}

.menu{text-align: center;}

section.banner{
  width:100%;
  min-height: 500px;
  text-align: center;
  padding:100px 0;
  color:black;
  position: relative;
  }

  
  h3{
    margin-top: 10%;
  }
  
  body {
    text-align: center;
    }
    
    .enableEthereumButton {
    display: inline-block;
    
    }
    
    .showAccount {
    display: inline-block;
  
    }
    
    input {
    display: grid;
    margin-left: 715px;
    margin-top: 5px;
  
    }
    
    button {
    display: inline-block;
    margin-top: 5px;
    }
    
    #people1, #price1, #address1, #people2, #price2, #address2, #people3, #price3, #address3, #people4, #price4, #address4, #people5, #price5, #address5 {
    display: inline-block;
    }



.w33{
  width:33.3%;
  padding:0 10px;
}

footer{
  position: absolute;
  bottom:0;
  width:100%;
  text-align: center;
  color: rgb(50, 3, 71);
  background-color:black;
}

@media only screen and (max-width: 480px) {
img {
  width: 100%;
}
}

@media only screen and (max-width: 480px) {
  button {
    text-align: center;
  }
  
}

@media screen and (max-width: 768px){
  header{
      text-align: center;
  }
  .menu{
      text-align: center;
  }
  .w33,.w50{
      width:100%;
      margin-bottom: 20px;
  }
}


  