*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


header{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.w50{
  width:100%;
  padding:0 10px;
  text-align: center;
}

.menu{text-align: center;}

section.banner{
  width:100%;
  min-height: 500px;
  text-align: center;
  padding:100px 0;
  color:black;
  position: relative;
  }
  
                                                                  /* Inputs */

  

  
  /* Buttons */
  button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  /* Donation list */
h3 {
  text-align: center;
}

.showAccount {
  font-weight: bold;
  padding-left: center;

}

span {
  display: inline-block;
  width: 5%;
  text-align: center;
  padding-left: 40%;
}

#people1, #people2, #people3, #people4, #people5 {
  text-align: left;
}

#price1, #price2, #price3, #price4, #price5 {
  text-align: center;
}

#address1, #address2, #address3, #address4, #address5 {
  text-align: right;
}



.w33{
  width:33.3%;
  padding:0 10px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

footer{
  position: absolute;
  bottom:0;
  width:100%;
  text-align: center;
  color: rgb(50, 3, 71);
  background-color:black;
}


@media only screen and (max-width: 480px) {
img {
  width: 100%;
}
}

@media only screen and (max-width: 480px) {
  input{
    text-align: center;
    display: grid;
    margin-left: 715px;
    margin-top: 5px;
}
  button {
    text-align: center;
  }
  
}

@media screen and (max-width: 768px){
  header{
      text-align: center;
  }
  input{
    display: grid;
    margin-left: 715px;
    margin-top: 5px;
    text-align: center;
}
  .menu{
      text-align: center;
  }
  .w33,.w50{
      width:100%;
      margin-bottom: 20px;
  }
}

  
