* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
  
  .w50 {
    width: 100%;
    padding: 0 10px;
    text-align: center;
  }
  
  .menu {
    text-align: center;
  }
  
  section.about {
    width: 100%;
    padding: 100px;
    text-align: center;
    color: black;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(50, 3, 71);
    background-color: black;
  }
  
  @media only screen and (max-width: 480px) {
    header {
      text-align: center;
    }
    .menu {
      text-align: center;
    }
    .w50 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  