body {
    font-family: "nunito";
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #start-screen{
    margin-top: 200px;
  }

  #quiz-container {
    width: 400px;
    height: 710px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  button {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    background-color: #00bfff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
  }
  
  button:hover {
    background-color: #008CBA;
  }
  
  .correct {
    background-color: green !important;
  }
  
  .wrong {
    background-color: red !important;
  }
  
  #question-number, h1 {
    font-size: 20px;
  }
  
  #question-text {
    margin-top: 100px;
  }
  
  #answer-buttons {
    margin-top: 70px; /* Ajuste do espaçamento dos botões */
    display: flex;
    flex-direction: column;
    gap: 1px; /* Espaço adequado entre os botões */
  }
  
  #start-btn {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  



  #victory-screen{
    margin-top: 300px;
  }


  #restart-btn{
    margin-top: 190px;
  }

  #end-screen {
    display: none;
    margin-top: 200px; /* Adiciona a margem superior de 200px */
  }
  
  #end-screen h1 {
    font-size: 2rem; /* Ajuste do tamanho da fonte, se necessário */
  }